.jumbotron{
  text-align: center;
  font-family: 'Tangerine', cursive;
  background-color:#009246;


}
.radio{
  text-align: center;
}

#button{
  margin-left: 47%;
  margin-top: 25px;
  padding-top: 15px;
  text-align: center;
}

#orderSummary{
  display: none;
}

#logo{
  word-wrap: normal;
  width: auto;
}


ul{
  display: inline-block;
  margin-left: 45%;
}

input{
  text-align: justify;
}

.well {
  background-color:#ce2b37;
  font-size: 48pt;
  font-family: cursive;
  color: white
}

body{
  background-color:white;
}

label{
  font-size: 16pt;
  font-family: sans-serif;
}

#orderSummary{
  margin-top: 30px;
  font-size: 40pt;
  list-style: none;
}
#header{
  color: white;
}
#slogan{
  list-style: none;
  font-size: 28pt;
  color: white;
}
