.jumbotron{
  text-align: center;
  font-family: fantasy;
  background-color:#D0A79B;


}
.radio{
  text-align: center;
}

#button{
  margin-left: 45%;
  margin-top: 25px;
  padding-top: 15px;
  text-align: center;
}

#orderSummary{
  display: none;
}

#logo{
  word-wrap: normal;
  width: auto;
}


ul{
  display: inline-block;
  margin-left: 45%;
}

input{
  text-align: justify;
}

.well {
  background-color:#D0A79B;
  font-family: fantasy;
}
